ul,ol {
    list-style:none; /*elimina la viñeta*/
    padding:0;
    margin: 0;
    overflow: hidden;
}

h2 {
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
}
h3 {
	text-align: center;

}


/*** IDs ***/
#logo {
	float: left;
}

.fixed {
	position: fixed;
	top:0;
	left:0;
	width: 100%;
	z-index: 1;

}

/******************************/
/********  CARROUSEL  ***********/
#menu {
	background-color: #fff;
	height: 60px;
	box-shadow: 0 4px 2px -2px gray;
}
#menu nav {
	height: 60px;
}
#menu ul {
	margin: auto;
	padding-top: 20px;
}

#menu li {
	text-align: center;
}
#menu a {
	text-decoration: none;
	text-transform: uppercase;
	color: #000;
	font-weight: bold;

}


/******************************/
/********  CARROUSEL  ********/
#carrousel {
	margin-top: 60px;

}


/*class for the carrousel script */
#owl-demo .item img{
    display: block;
    width: 100%;
    height: auto;
}
/******************************/
/********  SERVICIOS  ********/
#servicios {
	background-color: #E2A3A3;
	padding-top: 60px;	
}
#servicios li {
	margin:0;
	height: 250px;
	padding: 15px;
}


/******************************/
/********  EQUIPO  ***********/

#equipo {
	background-color: #664B4B;
	padding-top: 60px;	
}
#equipo img {
	box-shadow: 1px 1px 5px #852826;
	width: 60%;
	height: 60%;
}

#equipo article {
	background-color: #D6B2B2;
	padding: 15px;
	text-align: center;
}
#equipo i {
	color: #4E4545 !important;
}

/******************************/
/********  CLIENTES  *********/

#clientes {
	background-color: #E2A3A3;
	padding-top: 60px;
}


/*class for the carrousel script */
#owl-demo2 .item{
  	margin: 3px;
}
#owl-demo2 .item img{
  	display: block;
  	width: 100%;
  	height: auto;

}

/******************************/
/*******  CONTACTANOS  *******/

#contacto {
	background-color: #D6B2B2;
	padding-top: 60px;	
}

#contacto p {
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
}

#contacto input, #contacto textarea, #contacto button {
	margin: 10px 0;
	padding: 5px;
}

#contacto button {
	background-color: #979393;
	border-radius: 6px;
}
#contacto button:hover {
	background-color: #E0D9D9;
}

#contacto i {
	border-radius: 50%;
	background-color: #FFFFFF;
	width: 50px;
	height: 50px;
	text-align: center;
	padding: 11px;
}
#contacto .fa {
	font-size: 25px !important;
}


/******************************/
/**********  FOOTER  *********/

#footer {
	background-color: #E2A3A3;
}
#footer li {
	text-transform: uppercase;
}