
/*IMPORTA GOOGLE FONTS */
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed);
@import url(https://fonts.googleapis.com/css?family=Montserrat);
/*IMPORTA UNA HOJA DE ESTILO SACADA DE NORMALIZE */
@import url(normalize.css);
/* selector universal */
*{
	box-sizing: border-box;
	font-family:Montserrat;
	color:#515151;
	/* descuenta del width y height, lo sumado en padding y border */
}

ul,ol {
    list-style:none; /*elimina la viñeta*/
    padding:0;
    margin: 0;
}

h2 {
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
}
h3 {
	text-align: center;
	color: #21a06c;
	text-transform: uppercase;

}

figure{
	margin:0;
	padding:0;
	height:60px;
}
p {
	font-family: 'Roboto Condensed', sans-serif;

}


/*** IDs ***/
#logo {
	position: absolute;
     top: 0;
     left: 0;

}
#logo img {
	height: 80px;
	margin: 10px 10px;
}



.fixed {
	position: fixed;
	top:0;
	left:0;
	width: 100%;
	z-index: 1;

}



/******************************/
/********  NAV  ***********/
#menu {
	background-color: #fff;
	height: 100px;
	box-shadow: 0 4px 2px -2px gray;
}

#menu nav {
     margin: auto;
     line-height: 100px;
     padding: 0 60px;

}

#menu ul {

     text-align: right;
     margin-left: 190px;
}

#menu li {
	text-align: center;
     display: inline-block;
     height: 100px;
     width: 100px;

}
#menu a {
	text-decoration: none;
	text-transform: uppercase;
	color: #000;
     font-size: 12px;
	font-weight: bold;
	display: block;
	transition: all 0.3s ease;
}

#menu a:hover {
	background: lightgrey;

}

/*class for the Menu script */
.hamburger {
     visibility: hidden;
     background:none;
     position:fixed;
     top:0;
     right:0;
     line-height:100px;
     padding:0px 15px 0px 15px;
     color:#000;
     border:0;
     font-size:1.4em;
     font-weight:bold;
     cursor:pointer;
     outline:none;
     z-index:10000000000000;
}
.call-only {
     visibility: hidden;
     background:none;
     position:fixed;
     top:0;
     right:40px;
     line-height:100px;
     padding:0px 15px 0px 15px;
     color:#000;
     border:0;
     font-size:1.4em;
     font-weight:bold;
     cursor:pointer;
     outline:none;
     z-index:9;
}


/******************************/
/********  CARROUSEL  ********/
#carrousel {
	padding-top: 100px;

}


/*class for the carrousel script */
#owl-demo .item img{
    display: block;
    width: 100%;
    height: auto;
}
/******************************/
/********  SERVICIOS  ********/
#servicios {
	padding-top: 100px;
}

#servicios h2 {
	margin-bottom: 60px;
	border-bottom: #21a06c solid 1px;

}
#servicios h3 {
	width:80%;
	float:left;
	text-align:left;
	padding-left:20px;
}
#servicios li {
	margin:0;
	height: 250px;
	padding: 15px;
}

#servicios li i {
	color:white !important;
	width: 50px;
	height:50px;
	line-height:50px;
	background-color: #686868;
	border-radius:50%;
	font-size:25px;
	float:left;
	text-align:center;
}
/******************************/
/********  EQUIPO  ***********/

#equipo {

	padding-top: 100px;
}

#equipo h2{
	margin-bottom:80px;
}

#equipo img {
	width:60%;
	height: 60%;
	border-radius:50%;
	margin-right:-50px;
}

#equipo article {
	padding: 15px;
	text-align: center;
}


#equipo h3 {
	color:#515151;
	text-transform:unset;
	font-size:25px;
	margin-bottom:-10px;

}

#equipo p {
	font-size:20ps;
}


#equipo i {
	color: white !important;
	width:60px;
	height:60px;
	line-height:60px;
	background-color: #21a06c;
	border-radius:50%;
	font-size:35px;


}


/******************************/
/********  CLIENTES  *********/

#clientes {
	background-color: #E2A3A3;
	padding-top: 100px;
}


/*class for the carrousel script */
#owl-demo2 .item{
  	margin: 3px;
}
#owl-demo2 .item img{
  	display: block;
  	width: 100%;
  	height: auto;

}

/******************************/
/*******  CONTACTANOS  *******/

#contacto {
	background-color: #D6B2B2;
	padding-top: 100px;
}

#contacto p {
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
}

#contacto input, #contacto textarea, #contacto button {
	margin: 10px 0;
	padding: 5px;
	background: #21a06c;
	border: none;
	border-radius: 6px;
}

#contacto button {
	color: #e8e7e7;
	transition: 300ms 100ms ease-in;
	text-transform: uppercase;
	cursor: pointer;

}
#contacto button:hover {
	background-color: #0e4d33;
}

#contacto i {
	border-radius: 50%;
	background-color: #FFFFFF;
	width: 50px;
	height: 50px;
	text-align: center;
	padding: 11px;
}
#contacto .fa {
	font-size: 25px !important;
}


/******************************/
/**********  FOOTER  *********/

#footer {
	background-color: #E2A3A3;
}
#footer li {
	text-transform: uppercase;
}


@media (max-width: 850px) {

     .menu-desplegable {
          display: none ;

     }
     #menu nav {
          padding: 0;
     }
     #menu ul {
          padding-right: 20px;

     }
     #menu li {
          font-size: 9px;
          background: #fff;
          width: 80px;
          margin: 0;
          padding: 0;
     }
	.hamburger {
			visibility: visible;
		}
	.call-only {
		visibility: visible;
	}
}

@media (max-width: 700px) {

     footer {
          text-align: center;
     }
     .menu-desplegable {
          padding-top:80px;
     }
     #menu ul {
          padding-right: 0;
          left: 0;
          margin: 0;

     }
     #menu li {
          height: 40px;
          line-height: 40px;
     }

}
